Project1/.vs/Project1/FileContentIndex/2d52a61f-91a0-4e3b-b6a2-1d5f80be1897.vsidx
Project1/.vs/Project1/FileContentIndex/8d3f436b-636e-4cc9-b6b5-6bc93ecda598.vsidx
Project1/.vs/Project1/FileContentIndex/9c30a17b-75a9-4a7a-a1f5-9f564ab4e4bd.vsidx
Project1/.vs/Project1/FileContentIndex/a6284bbb-cb2a-4390-9dc2-c397882f38ac.vsidx
Project1/.vs/Project1/FileContentIndex/c6007d79-fb79-4a2f-a877-6c01f4aec44b.vsidx
Project1/.vs/Project1/v17/ipch/AutoPCH/8458798a66163f3d/Z02_SOLUTION.ipch
Project1/x64/Debug/main.obj
Project1/x64/Debug/Project1.exe
Project1/x64/Debug/Project1.exe.recipe
Project1/x64/Debug/Project1.ilk
Project1/x64/Debug/Project1.log
Project1/x64/Debug/Project1.pdb
Project1/x64/Debug/Project1.vcxproj.FileListAbsolute.txt
Project1/x64/Debug/vc143.idb
Project1/x64/Debug/vc143.pdb
Project1/x64/Debug/Z01Solution.obj
Project1/x64/Debug/Z02_Solution.obj
Project1/x64/Debug/Z03_Solution.obj
Project1/x64/Debug/Z04_Solution.obj
Project1/x64/Debug/Z05_Solution.obj
Project1/x64/Debug/Project1.tlog/CL.command.1.tlog
Project1/x64/Debug/Project1.tlog/Cl.items.tlog
Project1/x64/Debug/Project1.tlog/CL.read.1.tlog
Project1/x64/Debug/Project1.tlog/CL.write.1.tlog
Project1/x64/Debug/Project1.tlog/link.command.1.tlog
Project1/x64/Debug/Project1.tlog/link.read.1.tlog
Project1/x64/Debug/Project1.tlog/link.write.1.tlog
Project1/x64/Debug/Project1.tlog/Project1.lastbuildstate
